/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////// TEXT ////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

html {
  height: 100%;
}

.bounce_in_animation {
  position: absolute;
  z-index: 1000;
  display: flex;
  color: #000000;
  text-align: center;
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////// BACKGROUND ////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.background {
  width: 100%;
  height: 100%;
  visibility: visible;
  overflow: visible;
  z-index: 300;
}